flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/duncan:0/#","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":440,"y":80,"wires":[["ce9f9f18.4bad2"]]},{"id":"ce9f9f18.4bad2","type":"debug","z":"2c41a2bd.aa36ae","name":"","active":true,"console":"false","complete":"false","x":750,"y":80,"wires":[]},{"id":"d52a09c8c3c4726e","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/duncan:0/denurity/-/url/change","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":970,"y":280,"wires":[]},{"id":"087d2e64fcc3883e","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/duncan:0/getnewurl","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":350,"y":220,"wires":[["add0103df0b230da","ce9f9f18.4bad2"]]},{"id":"add0103df0b230da","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = \"testingurl/forchange\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":320,"wires":[["d52a09c8c3c4726e"]]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"192.168.178.213","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"node/sensor","birthQos":"0","birthPayload":"connected","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1ca8b089d02118fd","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]